@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --epd-black: #000000;
  --epd-white: #ffffff;
  --epd-gray: #808080;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--epd-white);
  color: var(--epd-black);
}

* {
  box-sizing: border-box;
}

